<ion-header>
  <ion-toolbar>
    <ion-searchbar #input></ion-searchbar>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="my-spinner" *ngIf="!isLoad">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <div *ngIf="isLoad">
    <div *ngIf="characters">
      <div class="images">
        <div class="image" *ngFor="let character of characters.results|filter:input.value"
          (click)="openFullModal(character)">
          <img src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" class="image-fit">
          <div class="layer" *ngIf="character.name || character.title || character.firstName">
            <span *ngIf="character.name">{{character.name}}</span>
            <span *ngIf="character.title">{{character.title}}</span>
            <span *ngIf="character.firstName">{{character.firstName}}</span>
          </div>
        </div>
      </div>
      <ion-toolbar class="my-hydrated">
        <ion-button slot="start" (click)="getNextPrev(false)" *ngIf="characters.offset">
          <ion-icon name="skip-backward"></ion-icon>
        </ion-button>
        <ion-button slot="end" (click)="getNextPrev()">
          <ion-icon name="skip-forward"></ion-icon>
        </ion-button>
      </ion-toolbar>
    </div>
    <div *ngIf="message">
      <ion-item>{{message}}</ion-item>
    </div>
  </div>
</ion-content>